<nav class="nav">

<nav class="home">
  <%= link_to "Store Home", store_path %>
</nav>
        <% if current_user && current_user.current_cart %>
          <p><%= link_to "Cart", cart_path(current_user.current_cart) %></p>
          <% end %>
        <% if user_signed_in? %>
          <p>Signed in as <%=current_user.email %></p>
          <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
        <% else %>
          <%= link_to "sign in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>

        <% end %>

</nav>